.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    background-color: #003366;
    color: lightgray;
    text-decoration: none;
}

.country, .search {
    text-align: center;
    color: blue;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

img {
    width: 25%;
}

.footer {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
}

